@import url('/static/css/animations.css');

.left {float:left;left:0;}
.right {float:right;right:0;}
.hidden, .fallback {display:none;}
.wide { width:100%;}
.abwrap { position: absolute;left:0;right:0;top:0;bottom:0;}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


html {
	font-size: 9px;
}

html, body, #background {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial;
    overflow: hidden;
    letter-spacing: -1.5px;
}

a {
    outline: none;
}

button {
    cursor: pointer;
	outline: none;
}

.blurry {
	filter: blur(12px);
    opacity: 0.85;
}

.container {
    display: flex;
	justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	width: 100%;
	perspective: 800px;
}

.contact {
	width: auto;	
	transition: all 400ms;
	transform: rotateY( 0deg );
	transform-style: preserve-3d;
	transform-origin: right center;
	backface-visibility: hidden;
	filter: blur(40px);
	opacity: 0;
	bottom: 1rem;
	height: auto;
	box-shadow: none;
	font-size: 0;
}

.contact.on {
	transform: rotateY( 0deg );
	filter: blur(0);
	opacity: 1;
	display:block;
}

.contact input, 
.contact textarea {
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    border-width: 0 1rem;
    border-color: black;
    border-style: solid;
    border-radius: 0;
    font-family: inherit;
    font-size: 3rem;
    outline: none;
}

.contact label {
    font-size: 3rem;
    width: 100%;
    display: block;
    color:#ffffff;
    background: #000000;
    padding: 1.2rem 1rem 0 1rem;
}

.contact .buttonwrap {
    background-color: black;
    border: 1rem solid black;
    width: 100%;
}

h1 {
    color: black;
    font-size: 5.5rem;
    font-weight: normal;
    letter-spacing: -4.5px;
    margin: 0;
}


.menu {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.menu ul {
    opacity: 0;
    filter: blur(20px);
    padding: 0;
	margin: 0 0 1rem 0;
    border: 1rem solid #000000;
}

.menu ul.on {
    opacity: 1;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
}

.menu li {
  list-style: none;
  position: relative;
}

.menu li a {
	display: inline-block;
	width: 100%;        
	background-color: #000000;
	font-size: 3rem;
	color: #ffffff;
	text-decoration: none;
	padding-left: 8rem;
	padding-right: 2px;
	box-sizing: border-box;
}

.menu li a:hover,
.menu li a.on {
  background-color: transparent;
  background-color: rgba(255,255,255,0.4);
  color: #000000;
}

.menu .logo {
    display: inline-block;
    width: 100%;
    height: 10rem;
    background-image: url('/static/img/enzese.svg');
    background-position: center bottom;
	background-repeat: no-repeat;
}

.slowfade {
    transition: filter 600ms;    
}

.close {
    background-color: #000;
	color: #fff;
	font-size: 3rem;
	font-weight: 100;
    width: 3rem;
    height: 3rem;
    display: block;
    border: none;
    margin: 0 -2rem 0 0;
    padding: 0;
}
 
.blockbutton {
	background-color:#B685F3; 
	color: #9856EB; 
	text-shadow: 0 1px 0 #D6B9FC;
	border:none;
	font-size:26px;
	width: 16rem;
	height: 4.5rem;
	font-family:inherit;
	position:relative;
	cursor:pointer;
	z-index:2;
	letter-spacing: inherit;
	transition: all 300ms;
}

.blockbutton:before {
	content:"";
	background-color:#0DEDDF;
	position:absolute;
	width:100%;
	height:10px;
	z-index:1;
	box-shadow:-1px 0 1px #0DEDDF;
}

.blockbutton:after {
	content:"";
	background-color:#89A7F5;
	position:absolute;
	width:10px;
	height:100%;
	z-index:1;
}

.blockbutton:hover { 
    color: #FFFFFF;
    text-shadow: 1px -1px #8439FB, 
                 0 -1px #8439FB, 
                 0 -2px #8439FB, 
                -1px -2px #8439FB, 
                -1px -3px #8439FA, 
                -2px -3px #8439FA, 
                -2px -4px #8439FA, 
                -3px -4px #8439FA, 
                -2px 3px 2px rgba(0,0,0,0.15);
    padding: 8px 0 0 6px;
}

.blockbutton.br { 
	margin: 9px 0 0 0;
}

.blockbutton.br:before { 
	left: -5px;
	top: -10px;
	transform: skewX(45deg);
}

.blockbutton.br:after  { 
	left: -10px;
	top: -5px;
	transform: skewY(45deg);
}


@media (max-width: 500px) {
	.container {
		margin:0;
		text-align: center;
	}

	.menu {
		position: relative;
		display: inline-block;
	}
}